.logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.2);
  }
  .site-layout .site-layout-background {
    background: #fff;
  }
    [data-theme="dark"] .site-layout .site-layout-background {
      background: #141414;
    }

    .site-calendar-demo-card {
        width: 300px;
        border: 1px solid #f0f0f0;
        border-radius: 2px;
        margin: 0 auto;
      }
        [data-theme="dark"] .site-calendar-demo-card {
          border: 1px solid #303030;
        }